resources:
  jobs:
    hello_world_job:
      name: {{.project_name}}_hello_world_job

      tasks:
        - task_key: hello_world_task
          notebook_task:
            notebook_path: ../src/hello_world.ipynb
            source: WORKSPACE